<div class="d-flex flex-column mb-3 pending-modal w-50 ">
  <div class="p-2">
    <% if @player_one[:winner] == true && @player_one[current_player] == true %>
      <h2> Bravo tu à gagné </h2>
      <h3>La carte à trouver est bien <%= @player_two.cards.where(guess: true) %></h3>
      <p>Ton score = <span><%= @player_one[:score] %></span></p>
      <p>Ton score total est: <%= @player_one.user[:score] %></p>
      <p>Ton nouveaux classement est <%= @user_rankig %></p>
    <% elsif @player_one[:winner] == false && @player_one[current_player] == true %>
      <h2> Tu à perdu </h2>
      <h3>La carte à trouver étais <%= @player_two.cards.where(guess: true) %></h3>
      <p>Ton score = <span><%= @player_one[:score] %></span></p>
      <p>Ton score total est: <%= @player_one.user[:score] %></p>
      <p>Ton nouveaux classement est <%= @user_rankig %></p>
    <% if @player_two[:winner] == true && @player_two[current_player] == true %>
      <h2> Bravo tu à gagné </h2>
      <h3>La carte à trouver est bien <%= @player_one.cards.where(guess: true) %></h3>
      <p>Ton score = <span><%= @player_two[:score] %></span></p>
      <p>Ton score total est: <%= @player_two.user[:score] %></p>
      <p>Ton nouveaux classement est <%= @user_rankig %></p>
    <% elsif @player_two[:winner] == false && @player_two[current_player] == true %>
      <h2> Tu à perdu </h2>
      <h3>La carte à trouver étais <%= @player_one.cards.where(guess: true) %></h3>
      <p>Ton score = <span><%= @player_two[:score] %></span></p>
      <p>Ton score total est: <%= @player_two.user[:score] %></p>
      <p>Ton nouveaux classement est <%= @user_rankig %></p>
    <% end %>
  </div>
</div>
