
<% if @game.active? %>
  <%= render "active_game" %>
<% elsif @game.started? %>

  <div class="container"
    data-controller="game-subscription"
    data-game-subscription-game-id-value=>"<%= @game.id %>"
    <%= render partial: "game", locals: { game: @game } %>

  <div class="d-flex justify-content-end">
    <div class="container game"
      data-controller="game-subscription"
      data-game-subscription-game-id-value="<%= @game.id %>">

      <div class="questions" data-game-subscription-target="questions">
        <% @game.characteristic_questions.each do |char_question| %>
          <%= render "characteristic_questions/characteristic_question", char_question: char_question %>
        <% end %>
      </div>
    </div>
    <div class="container game">
      <%= simple_form_for [@game, @characteristic_question],
        html: {class: "d-flex"} do |f|
      %>
        <%= f.association :characteristic,
          as: :radio_buttons,
          collection: @characteristic_collection,
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>
    </div>
  </div>
    <div class="player-one-deck container text-center " style="margin:30px 0">
      <div class="row justify-content-center">
      <h2>Liste de toutes les caractéristiques</h2>
        <% @characteristics.each do |chars| %>
          <div class="col-1" style="margin:5px; border: 1px solid #333">
            <%= image_tag "characteristics/#{chars.name}.png", width: 50%>
            <%= chars.name %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="player-one-deck container text-center">
      <h2>Plateau de <%=  @player_one.user.nickname  %> | <%=  @player_one_active_cards.size %> cartes actives</h2>
      <div class="row">
        <% @player_one_cards.shuffle.each do |card| %>
          <div class="col-1">
          <div><% if card.active == true %><%= cl_image_tag card.character.photo.key, width: 103, height: 190, crop: :fill, class: "radius"%><% else %> <%= cl_image_tag card.character.photo.key, width: 103, height: 190, crop: :fill, class: "disactive-card radius" %><% end %> </div>
          <div><%= card.character.name%> <%= card.character.id%> </div>
          <div><%= card.guess%> </div>
          <div style="font-size:12px; margin:0"><% if card.active == true %><code> Carte active </code> <% else %><cite> Retournée </cite><% end %> </div>
          <% card.characteristics.each do |characteristic| %>
            <p style="font-size:10px; margin:0"><%= characteristic.name %></p>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="player-one-deck container text-center">
      <h2>Plateau de <%=  @game.user_two.nickname  %> | <%=  @game.player_two_active_cards.size %> cartes actives</h2>
      <div class="row">
        <% @game.player_two_active_cards.shuffle.each do |card| %>
          <div class="col-1">
          <div><% if card.active == true %><%= cl_image_tag card.character.photo.key, width: 103, height: 190, crop: :fill, class: "radius" %><% else %> <%= cl_image_tag card.character.photo.key, width: 103, height: 190, crop: :fill, class: "disactive-card radius" %><% end %> </div>
          <div><%= card.character.name%> <%= card.character.id%> </div>
          <div><%= card.guess%> </div>
          <div style="font-size:12px; margin:0"><% if card.active == true %><code> Carte active </code> <% else %><cite> Retournée </cite><% end %> </div>
          <% card.characteristics.each do |characteristic| %>
            <p style="font-size:10px; margin:0"><%= characteristic.name %></p>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
