<% moi = current_user.id == char_question.player.user_id  %>

<div id="question-<%= char_question.id %>" <% if moi %> class="bg-grey" <% else %>class="bg-cream"<%end  %>>
  <code>
    <strong><%= char_question.player.user.nickname %> demande si votre personnage possède :</strong>
  </code>
  <p><b><%= char_question.characteristic.name %>
  <% if moi %> <% else %>
  <div class="d-flex">
    <%= link_to "OUI", "#", class: "btn btn-success" %>
    <%= link_to "NON", "#", class: "btn btn-danger" %>
  </div>
  <% end %>


</div>
