<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
     <%= image_tag "logos/mini-logo.png" %>
    <% end %>
</div>
</div>


<%= @user.nickname %>

<br>

<% @ranking.each do |score| %>
  <%= score.score %>
<% end %>

<br>

<% @game.each do |game| %>
Jeu numéro : <%= game.id %>
<% end %>
