<div class="home-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
     <%= image_tag "logos/mini-logo.png", width:"100px" %>
    <% end %>
</div>

<div class="container d-flex flex-column align-items-center">
  <div class="d-flex margin-head">
    <div class="d-flex"><%= image_tag "logos/welcomeback.png", height: "100px" %></div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column ">
      <div class="block-identification fight d-flex align-items-center justify-content-center">
        <div>
          <%= link_to "#" do %>
            <%= image_tag "logos/clicktofight.png", width: "340px" %>
          <% end %>
        </div>
      </div>
      <div class="block-jaune fight mx-3 rules px-3 py-3">
        <h3 class="h3rules">Règles du jeu</h3>
        <p class="prules">
          Chacun des deux joueurs prend un plateau avec tous les visages des personnages.<br>
          Ensuite, chaque joueur pioche une carte au hasard.<br>
          Ce sera le personnage que son adversaire doit deviner !<br>
          Chacun des joueurs positionne cette carte devant son plateau sans la faire voir à l'autre joueur
        </p>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex block-identification fight mx-3 align-items-center justify-content-between ">

        <div>
          <% if current_user.photo.key? %>
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-bordered dropdown-toggle imgbig", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </div>
        <div class="d-flex flex-column flex-grow-1 mx-2">
          <div><b><%= @user.nickname %></b></div>
          <div><%= @user.email %></div>
          <div>Inscrit le : <%= @user.created_at.strftime("%d/%m/%Y") %></div>
        </div>
        <div class="d-flex flex-column">
          <div><b><%= @user.score %> point</b></div>
          <div class="mt-2">
          <i class="fa-solid fa-pen-to-square"></i><%= link_to 'Edit', edit_user_registration_path, class: 'btn p-0' %>
          </div>
        </div>
      </div>
       <div class="block-jaune fight mx-3 rules px-3 py-3">
        <h3 class="h3rules">Classement</h3>


        <div class="d-flex justify-content-between flex-grow-1">
          <div class="nav flex-column nav-pills me-3 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class=" btn btn-outline-danger active mb-2" id="v-pills-general-tab" data-bs-toggle="pill" data-bs-target="#v-pills-general" type="button" role="tab" aria-controls="v-pills-general" aria-selected="true">Général</button>
            <button class="btn btn-outline-danger mb-2 " id="v-pills-france-tab" data-bs-toggle="pill" data-bs-target="#v-pills-france" type="button" role="tab" aria-controls="v-pills-france" aria-selected="false">France</button>
            <button class="btn btn-outline-danger mb-2" id="v-pills-batch-tab" data-bs-toggle="pill" data-bs-target="#v-pills-batch" type="button" role="tab" aria-controls="v-pills-batch" aria-selected="false">Batch #1129</button>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab" tabindex="0">

              <div class="containerp podium">
                <div class="podium__item">
                  <p class="podium__city"><%= @user.nickname %></p>
                  <div class="podium__rank second">2</div>
                  <p class="podium__city mini">(<%= @user.score %> pts)</p>
                </div>
                <div class="podium__item">
                  <p class="podium__city"><%= @user.nickname %></p>
                  <div class="podium__rank first">
                    <svg class="podium__number" viewBox="0 0 27.476 75.03" xmlns="http://www.w3.org/2000/svg">
                    <g transform="matrix(1, 0, 0, 1, 214.957736, -43.117417)">
                      <path class="st8" d="M -198.928 43.419 C -200.528 47.919 -203.528 51.819 -207.828 55.219 C -210.528 57.319 -213.028 58.819 -215.428 60.019 L -215.428 72.819 C -210.328 70.619 -205.628 67.819 -201.628 64.119 L -201.628 117.219 L -187.528 117.219 L -187.528 43.419 L -198.928 43.419 L -198.928 43.419 Z" style="fill: #000;"/>
                    </g>
                  </svg>
                  </div>
                  <p class="podium__city mini">(<%= @user.score %> pts)</p>
               </div>
                <div class="podium__item">
                  <p class="podium__city"><%= @user.nickname %></p>
                  <div class="podium__rank third">3</div>
                  <p class="podium__city mini">(<%= @user.score %> pts)</p>
                </div>
              </div>


            </div>
            <div class="tab-pane fade" id="v-pills-france" role="tabpanel" aria-labelledby="v-pills-france-tab" tabindex="0">


              <div class="containerp podium">
                  <div class="podium__item">
                    <p class="podium__city"><%= @user.nickname %></p>
                    <div class="podium__rank second">2</div>
                    <p class="podium__city mini">(<%= @user.score %> pts)</p>
                  </div>
                  <div class="podium__item">
                    <p class="podium__city"><%= @user.nickname %></p>
                    <div class="podium__rank first">
                      <svg class="podium__number" viewBox="0 0 27.476 75.03" xmlns="http://www.w3.org/2000/svg">
                      <g transform="matrix(1, 0, 0, 1, 214.957736, -43.117417)">
                        <path class="st8" d="M -198.928 43.419 C -200.528 47.919 -203.528 51.819 -207.828 55.219 C -210.528 57.319 -213.028 58.819 -215.428 60.019 L -215.428 72.819 C -210.328 70.619 -205.628 67.819 -201.628 64.119 L -201.628 117.219 L -187.528 117.219 L -187.528 43.419 L -198.928 43.419 L -198.928 43.419 Z" style="fill: #000;"/>
                      </g>
                    </svg>
                    </div>
                    <p class="podium__city mini">(<%= @user.score %> pts)</p>
                </div>
                  <div class="podium__item">
                    <p class="podium__city"><%= @user.nickname %></p>
                    <div class="podium__rank third">3</div>
                    <p class="podium__city mini">(<%= @user.score %> pts)</p>
                  </div>
                </div>

            </div>
            <div class="tab-pane fade" id="v-pills-batch" role="tabpanel" aria-labelledby="v-pills-batch-tab" tabindex="0">

              <div class="containerp podium">
                  <div class="podium__item">
                    <p class="podium__city"><%= @user.nickname %></p>
                    <div class="podium__rank second">2</div>
                    <p class="podium__city mini">(<%= @user.score %> pts)</p>
                  </div>
                  <div class="podium__item">
                    <p class="podium__city"><%= @user.nickname %></p>
                    <div class="podium__rank first">
                      <svg class="podium__number" viewBox="0 0 27.476 75.03" xmlns="http://www.w3.org/2000/svg">
                      <g transform="matrix(1, 0, 0, 1, 214.957736, -43.117417)">
                        <path class="st8" d="M -198.928 43.419 C -200.528 47.919 -203.528 51.819 -207.828 55.219 C -210.528 57.319 -213.028 58.819 -215.428 60.019 L -215.428 72.819 C -210.328 70.619 -205.628 67.819 -201.628 64.119 L -201.628 117.219 L -187.528 117.219 L -187.528 43.419 L -198.928 43.419 L -198.928 43.419 Z" style="fill: #000;"/>
                      </g>
                    </svg>
                    </div>
                    <p class="podium__city mini">(<%= @user.score %> pts)</p>
                </div>
                  <div class="podium__item">
                    <p class="podium__city"><%= @user.nickname %></p>
                    <div class="podium__rank third">3</div>
                    <p class="podium__city mini">(<%= @user.score %> pts)</p>
                  </div>
                </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<!-- classement -->
<% @ranking.each do |score| %>
  <%= score.score %>
<% end %>

<br>
<!-- dernières parties -->
<% @games.each do |game| %>
  Jeu numéro : <%= game.id %>
<% end %>
<% if @pending_game.present? %>
    <%= url_for(controller: 'games', action: 'shifoumi', id: @pending_game.id, player_two: true) %>
    <%= link_to "Lancer la partie", game_path(@pending_game), class: "btn btn-primary" %>
    <!-- <p>localhost:3000/games/<%= @pending_game.id %>/shifoumi?player_two=true</p> -->
  </div>
<% else %>
<% end %>

  <%= render partial: "games/new", locals: { game: @new_game } %>
